*{
    margin: 0;
    padding: 0;
}
:root{
    --color-main:#00904a;
    --color--btn-yellow:#fcba03;
    --color--btn-delete:#f54251;
    --color--border:#A9A9A9;
}
body{
    font-family: 'Courier New', Courier, monospace;
    
}

.container{
    margin: 0 auto;
}

/* table */
.title{
    background-color: var(--color-main);
    padding: 10px;
    color: #fff;
}
table,th,td{
     border: 1px solid var(--color--border);
     border-collapse: collapse;
}
th{
    background-color: var(--color-main);
    padding: 10px;
    text-align: center;
}
td{
    padding: 10px;
}
input{
    display: block;
    width: 100%;
    height: 25px;
    margin-top: 10px;

}

/* end-table */



/* form */
.form__register{
    width: 100vw;
    border: 1px solid var(--color--border);

}
.form__register--body{
    padding:20px;
    border-radius: 5px;
}
.form__register--body--item{
    margin: 20px 0px 0px 0px;

}
/* footer */
.form__register--footer{
    padding: 20px;
}
.form__register--btn{
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.form__register--btn.btn--save{
    background-color:var(--color-main);
    color:#fff;
}


/* end-form */



/* button */
button{
    cursor: pointer;
}
button.form__register--btn.btn--reset{
    background-color: var(--color--btn-yellow);
}
button.form__register--btn.btn--delete{
    background-color: var(--color--btn-delete);
    color: #fff;
}
/* end-button */

/* table__view */
.table__view{
    margin-top: 20px;
}
.table__view table{
    width: 100%;
    text-align: center;
}